API_TOKEN=abc123                    # Put your actual API token/Oauth2 Token here (https://app.fnlb.net/account)
RELEASE_CHANNEL=stable              # Stable is the default and highly recommended channel; stable or beta


CATEGORIES=                         # (Optional) Category filter. Comma-separated category IDs. Leave empty to include all categories.
BOTS=                               # (Optional) Bot filter. Comma-separated bot IDs. Leave empty to include all bots.
NUMBER_OF_SHARDS=2                  # (Optional) Number of shards to run (defaults to 2)
BOTS_PER_SHARD=32                   # (Optional) Max number of bots per shard (defaults to 32)
RESTART_INTERVAL=3600               # (Optional) Interval (in seconds) after each automatic restart (defaults to 3600s, 1h)
CLUSTER_NAME=Self Hosted Cluster    # (Optional) The name of the cluster that will appear in the app (defaults to Self Hosted Cluster)
